.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, minmax(1px, 1fr));
  height: 97vh;
}

.grid-item {
  min-height: 0;
  min-width: 0;
  overflow: hidden;
}